.attribution {
    font-size: 11px;
    text-align: center;
    width: 100vw;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;

}

main {
    /* width: 100vw; */
    max-width: 350px;
    background-color: hsl(216, 50%, 16%);
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

main article {
    position: relative;
}

main article .imgArticle {
    width: 100%;
    border-radius: 10px;
}

main article .viewHover {
    background-color: hsl(178, 100%, 50%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(50% - 26px) calc(50% - 25px);
    border-radius: 5px;
    opacity: 0;
}

main article .viewHover:hover {
    cursor: pointer;
    transition: ease-in 300ms;
    opacity: 1;
}

main section h1 {
    color: white;
    font-weight: 700;
    font-size: 22px;
}

main section h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

main section>p {
    line-height: 1.5em;
}

main section .priceInfo {
    width: 100%;
}

main section .price {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    margin-top: 5px;
}

main section .price>img {
    padding-right: 5px;
    position: relative;
    top: 2px;
}

main section .priceInfo .timeInfo {
    display: inline-block;
    text-align: right;
    width: 49%;
    box-sizing: border-box;
    line-height: 1em;
    font-size: 16px;
    margin-top: 5px;
}

main section .timeInfo>img {
    padding-right: 7px;
    position: relative;
    top: 2px;
}

main section .artist {
    border-top: 1px hsl(215, 32%, 27%) solid;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 16px;
}

main section .artist>img {
    height: 32px;
    position: relative;
    top: 10px;
    border: 1px white solid;
    border-radius: 50%;
    margin-right: 15px;
}

main section .artist a {
    text-decoration: none;
    color: white;
}

main section .artist a:hover {
    color: hsl(178, 100%, 50%);
}